artists-new.vtl

<h1>Add a new CD to your list:</h1>

<form action="/artists" method="post">
  <label for="artist">CD Artist</label>
  <input id="artist" name="artist" type="text">
  <button type="submit" class="btn btn-success">Add Artist</button>
</form>
